# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/
.venv/

# IDE / editor
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

